################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Android_Installer/Bin/Debug
/Android_Installer/obj/Debug
